// Format: 26x18cm

@flyerWidth:   21cm;
@flyerHeight:  14.85cm;
@unitWidth: @flyerWidth / 24;
@unitHeight: @flyerHeight / 23;

@coul1: black;
@coul2: #ffe620;

// mettre none aux variables des grilles à cacher
@hideGrids:       ;
@hideBookFolds:   ;
@hideflyerFolds:  ;
@hideGrid:        none;
@hideContent:     ;

*{
  box-sizing: border-box;
}

@import "fontes/opensans/opensans-stylesheet.css";
@import "fontes/meyrin/Meyrin-stylesheet.css";

//  GLOBAL + GRILLE
body{
  font-family: 'OpenSans-Bold';
  margin: 10px;
  transform: scale(1.5);
  -webkit-transform-origin: 0 0;
  .page, .content{
    // transform: rotate(-90deg);
    // top: 200px;
    position: absolute;
    width: @flyerWidth;
    height: @flyerHeight;
    outline: 1px solid black;
    .grids{
      display: @hideGrids;
      .fold{
        width: 1px;
        height: @flyerHeight;
        background: red;
        position: absolute;
        left: @flyerWidth/2;
      }
      .grid{
        display: inline-flex;
        display: @hideGrid;
        flex-wrap: nowrap;
        box-sizing: border-box;
        position: absolute;
      }
      .gridRow{
        width: 100%;
        flex-direction: row;
        .row{
          width: 10cm;
          margin: 0;
          padding: 0;
          border-right: 1px solid blue;
          height: @flyerHeight;
        }
      }
      .gridCol{
        height: @flyerHeight;
        flex-direction: column;
        .col{
          height: 10cm;
          width: @flyerWidth;
          border-bottom: 1px solid blue;

        }
      }
    }
  }

//  FIN GLOBAL + GRILLE

// CONTENU

#contentVerso{
  .txt{
    font-size: 10.25pt;
    line-height: 1.15;
    word-spacing: -0.9pt;
    width: (@flyerWidth / 2) - (@unitWidth * 2);
    height: (@flyerHeight) - (@unitHeight * 2);
    position: absolute;
    margin-left: @unitWidth;
    margin-top: @unitHeight;
    i{
      color: @coul2;
      -webkit-text-stroke-width: 0.25pt;
      -webkit-text-stroke-color: @coul1;
      font-family:'OpenSans-BoldItalic';
    }
    .not{
        font-family:'OpenSans-Bold';

    }
    p{
      width: @unitWidth * 8;
    }
    em{
      font-family: 'OpenSans-BoldItalic';
    }
  }
  .txtleft{
    p:nth-of-type(even){
      margin-left: @unitWidth * 2;
    }
  }
  .txtright{
    left: @flyerWidth / 2;
    p:nth-of-type(odd){
      margin-left: @unitWidth * 2;
    }
  }
  .image{
    position: absolute;
    width: @unitWidth * 7;
    margin-left: @unitWidth * 3;
    margin-top: @unitHeight * 1;
    z-index: -1;
  }
  .imageD{
    width: @unitWidth * 7;
     margin-left: @unitWidth * 13;
    margin-top: @unitHeight * 6;
    display: none;
  }
  .imageG{
    width: @unitWidth * 10;
     margin-left: @unitWidth * 5.5;
    margin-top: @unitHeight * 2.5;
  }
  .colophon{
    font-family: 'meyrin';
    font-size: 7pt;
    position: absolute;
    width: (@flyerWidth / 2) - (@unitWidth * 2);
    left: @flyerWidth / 2;
    margin-left: @unitWidth;
    bottom: @unitHeight + 0.05cm;
  }
}
// FIN CONTENU

}

@media print{
  @page{
    size: A4 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
      transform: rotate(0deg);
      top: 0px;
    }
    .fold{
      background: none !important;
    }
    #pageVerso, #contentVerso{
    }
    #contentRecto{
      color: white;
    }
  }
}
