
/*OpenSans-LightItalic*/
@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('OpenSans-LightItalic.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-LightItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg'); /* Chrome < 4, Legacy iOS */
    }
