// Format: 26x18cm

@flyerWidth:   21cm;
@flyerHeight:  14.85cm;
@unitWidth: @flyerWidth / 24;
@unitHeight: @flyerHeight / 23;

@coul1: black;
@coul2: #ffe620;
// @coul2: white;

// mettre none aux variables des grilles à cacher
@hideGrids:       ;
@hideBookFolds:   ;
@hideflyerFolds:  ;
@hideGrid:        none;
@hideContent:     ;

*{
  box-sizing: border-box;
}

@import "fontes/opensans/opensans-stylesheet.css";
@import "fontes/meyrin/Meyrin-stylesheet.css";

//  GLOBAL + GRILLE
body{
  font-family: 'OpenSans-Bold';
  margin: 10px;
  transform: scale(1.5);
  -webkit-transform-origin: 0 0;
  .page, .content{
    // transform: rotate(-90deg);
    // top: 200px;
    position: absolute;
    width: @flyerWidth;
    height: @flyerHeight;
    outline: 1px solid black;
    .grids{
      display: @hideGrids;
      .fold{
        width: 1px;
        height: @flyerHeight;
        background: red;
        position: absolute;
        left: @flyerWidth/2;
      }
      .grid{
        display: inline-flex;
        display: @hideGrid;
        flex-wrap: nowrap;
        box-sizing: border-box;
        position: absolute;
      }
      .gridRow{
        width: 100%;
        flex-direction: row;
        .row{
          width: 10cm;
          margin: 0;
          padding: 0;
          border-right: 1px solid blue;
          height: @flyerHeight;
        }
      }
      .gridCol{
        height: @flyerHeight;
        flex-direction: column;
        .col{
          height: 10cm;
          width: @flyerWidth;
          border-bottom: 1px solid blue;

        }
      }
    }
  }

//  FIN GLOBAL + GRILLE

// CONTENU

#contentRecto{
  font-size: 10pt;
  .filenames{
    font-family: 'meyrin';
    width: @flyerWidth - (@unitWidth * 2);
    column-count: 2;
    column-gap: @unitWidth;
    margin: @unitHeight @unitWidth;
    font-size: 7pt;
    height: @flyerHeight - (@unitHeight / 2);
    color: @coul1;
    // z-index: 1;
    position: relative;
    text-align: justify;
    text-align-last: justify;
    // display: none;
  }
  .conversation{
    width: @flyerHeight;
    height: @flyerWidth;
    position: absolute;
    top: 0;
    left: 20.96cm;
    padding: (@unitWidth) @unitHeight;
    transform: rotate(90deg);
    transform-origin: top left;
    -webkit-text-stroke-width: 0.5pt;
    -webkit-text-stroke-color: @coul1;
    font-size: 25pt;
    line-height: 1.45;
    color: @coul2;
    // margin-top: 0.4mm;
    li{
      width: @unitHeight * 18;
      padding: 0 0.04cm;
      // margin-bottom: 0.2cm;
      img{
        // width: 1.6cm;
        width: @unitHeight * 4;
        // margin-top: -0.3mm;
        position: absolute;
        border: 0.5pt solid @coul1;
        margin-right: @unitHeight;
        // background: white;
      }
      span{
        margin-left: @unitHeight * 4.5;
      }
    }

    li:nth-of-type(even){
      margin-left: @unitHeight * 3;
      text-align: right;
    }
  }
  .convers0{
    -webkit-text-stroke-color: @coul1;
  }
}
 .title{
    font-family:'OpenSans-BoldItalic';
    }
// FIN CONTENU

}

@media print{
  @page{
    size: A4 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
      transform: rotate(0deg);
      top: 0px;
    }
    .fold{
      background: none !important;
    }
    #pageVerso, #contentVerso{
      display: none;
    }
    #contentRecto{
      color: white;
    }
  }
}
