// Format: 26x18cm

@flyerWidth:   21cm;
@flyerHeight:  14.85cm;
@unitWidth: @flyerWidth / 34;
@unitHeight: @flyerHeight / 34;

@coul1: #B9985B;
@coul2: #ffe620;

// mettre none aux variables des grilles à cacher
@hideGrids:       ;
@hideBookFolds:   ;
@hideflyerFolds:  ;
@hideGrid:        none;
@hideContent:     ;

*{
  box-sizing: border-box;
}

@import "fontes/opensans/opensans-stylesheet.css";
@import "fontes/meyrin/Meyrin-stylesheet.css";

//  GLOBAL + GRILLE
body{
  font-family: 'OpenSans-Bold';
  margin: 10px;
  transform: scale(1.7);
  -webkit-transform-origin: 0 0;
  .page, .content{
    position: absolute;
    width: @flyerWidth;
    height: @flyerHeight;
    outline: 1px solid black;
    .grids{
      display: @hideGrids;
      .fold{
        width: 1px;
        height: @flyerHeight;
        background: red;
        position: absolute;
        left: @flyerWidth/2;
      }
      .grid{
        display: inline-flex;
        display: @hideGrid;
        flex-wrap: nowrap;
        box-sizing: border-box;
        position: absolute;
      }
      .gridRow{
        width: 100%;
        flex-direction: row;
        .row{
          width: 10cm;
          margin: 0;
          padding: 0;
          border-right: 1px solid blue;
          height: @flyerHeight;
        }
      }
      .gridCol{
        height: @flyerHeight;
        flex-direction: column;
        .col{
          height: 10cm;
          width: @flyerWidth;
          border-bottom: 1px solid blue;

        }
      }
    }
  }

//  FIN GLOBAL + GRILLE

// CONTENU

#contentRecto{
  font-size: 10pt;
  .filenames{
    font-family: 'meyrin';
    // width: @unitWidth * 3;
    column-count: 4;
    margin: @unitHeight @unitWidth;
    font-size: 7pt;
    height: @flyerHeight - (@unitHeight / 2);
    color: @coul1;
    z-index: 1;
    position: relative;
    display: none;
  }
  .image{
    position: absolute;
    width: @unitHeight * 30;
    transform: rotate(90deg);
    // transform-origin: 0 0;
    // top: @unitWidth * 2;
    z-index: 0;
    top: -4cm;
    left: 3cm;
    margin-left: @unitWidth * 2;
  }
  .imageD{
    // left: @flyerWidth /2;
  }
  .txt{
    width: @flyerWidth;
    text-align: center;
    position: absolute;
    bottom: @unitHeight;
    padding: 0 @unitWidth;
  }
  .trad{
    width: @flyerWidth/2;
    position: relative;
    line-height: 1.2;
    color: @coul2;
    z-index: 2;
    font-size: 18pt;
    display: inline;
    // text-shadow: 2px 2px 1px @coul1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: @coul1;
    margin-left: @unitWidth * 2;
  }
  .trad:before{
    content: '—'
  }
  .tradD{
    left: @flyerWidth / 2;
  }
  .title{
    font-family: 'OpenSans-BoldItalic';
  }
}

// FIN CONTENU

}

@media print{
  @page{
    size: A4 portrait;
  }
  body{
    margin: 0;
    transform: scale(1);
    .content, .page{
      outline: none !important;
    }
    .fold{
      background: none !important;
    }
    #pageVerso, #contentVerso{
      display: none;
    }
    #contentRecto{
      color: white;
    }
  }
}
