@font-face {
    font-family: 'Meyrin';
    src: url('Meyrin.eot'); /* IE 9 Compatibility Mode */
    src: url('Meyrin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('Meyrin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('Meyrin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Meyrin.svg#Meyrin') format('svg'); /* Chrome < 4, Legacy iOS */
}
