
/*OpenSans-Semibold*/
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('OpenSans-Semibold.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-Semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-Semibold.svg#OpenSans-Semibold') format('svg'); /* Chrome < 4, Legacy iOS */
    }
