
/*OpenSans-Regular*/
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('OpenSans-Regular.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-Regular.svg#OpenSans-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
    }
