
/*OpenSans-SemiboldItalic*/
@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('OpenSans-SemiboldItalic.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-SemiboldItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-SemiboldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg'); /* Chrome < 4, Legacy iOS */
    }
