
/*OpenSans-Bold*/
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('OpenSans-Bold.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-Bold.svg#OpenSans-Bold') format('svg'); /* Chrome < 4, Legacy iOS */
    }
