
/*OpenSans-BoldItalic*/
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('OpenSans-BoldItalic/OpenSans-BoldItalic.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-BoldItalic/OpenSans-BoldItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-BoldItalic/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg'); /* Chrome < 4, Legacy iOS */
    }

/*OpenSans-Bold*/
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('OpenSans-Bold/OpenSans-Bold.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-Bold/OpenSans-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-Bold/OpenSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold') format('svg'); /* Chrome < 4, Legacy iOS */
    }

/*OpenSans-ExtraBoldItalic*/
@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('OpenSans-ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg'); /* Chrome < 4, Legacy iOS */
    }

/*OpenSans-ExtraBold*/
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('OpenSans-ExtraBold/OpenSans-ExtraBold.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-ExtraBold/OpenSans-ExtraBold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-ExtraBold/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg'); /* Chrome < 4, Legacy iOS */
    }

/*OpenSans-Italic*/
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('OpenSans-Italic/OpenSans-Italic.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-Italic/OpenSans-Italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-Italic/OpenSans-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-Italic/OpenSans-Italic.svg#OpenSans-Italic') format('svg'); /* Chrome < 4, Legacy iOS */
    }

/*OpenSans-LightItalic*/
@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('OpenSans-LightItalic/OpenSans-LightItalic.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-LightItalic/OpenSans-LightItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-LightItalic/OpenSans-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-LightItalic/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg'); /* Chrome < 4, Legacy iOS */
    }

/*OpenSans-Light*/
@font-face {
    font-family: 'OpenSans-Light';
    src: url('OpenSans-Light/OpenSans-Light.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-Light/OpenSans-Light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-Light/OpenSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-Light/OpenSans-Light.svg#OpenSans-Light') format('svg'); /* Chrome < 4, Legacy iOS */
    }

/*OpenSans-Regular*/
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('OpenSans-Regular/OpenSans-Regular.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-Regular/OpenSans-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-Regular/OpenSans-Regular.svg#OpenSans-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
    }

/*OpenSans-SemiboldItalic*/
@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg'); /* Chrome < 4, Legacy iOS */
    }

/*OpenSans-Semibold*/
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('OpenSans-Semibold/OpenSans-Semibold.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-Semibold/OpenSans-Semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-Semibold/OpenSans-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-Semibold/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg'); /* Chrome < 4, Legacy iOS */
    }
