
/*OpenSans-Light*/
@font-face {
    font-family: 'OpenSans-Light';
    src: url('OpenSans-Light.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-Light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-Light.svg#OpenSans-Light') format('svg'); /* Chrome < 4, Legacy iOS */
    }
