
/*OpenSans-BoldItalic*/
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('OpenSans-BoldItalic.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-BoldItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg'); /* Chrome < 4, Legacy iOS */
    }
