
/*OpenSans-ExtraBoldItalic*/
@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('OpenSans-ExtraBoldItalic.eot'); /* IE 9 Compatibility Mode */
    src: url('OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('OpenSans-ExtraBoldItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('OpenSans-ExtraBoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg'); /* Chrome < 4, Legacy iOS */
    }
